@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #011502;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E8E8E8;
}